<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <div class="headMan" >
    <h1>
      Orchestra
    </h1>
  </div>
  <div class="wrapper">
    <orc-meeting></orc-meeting>
  </div> 
</div>

<!--<input type="text" pInputText [(ngModel)]="attendeeName"/>-->
  <!--<input #attendeeInput type="text" pInputText [(ngModel)]="attendeeName"/>

  <button pButton type="button" (click)="addAttendee(attendeeInput.value)" label="Add Attendee"></button>-->


<!--<div *ngFor="let attendee of attendees | async">{{attendee.username | json}}</div>-->

<p-multiSelect [options]="results" [(ngModel)]="selectedItems" defaultLabel="Add Attendees"></p-multiSelect>


<router-outlet></router-outlet>
