/* You can add global styles to this file, and also import other style files */
html{
    min-height: 100%;
}
body{
    background-color: #ecf0f1;
    background-image: url("assets/breather-163392.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headMan{
    height: 100px;
    background-color: #bdc3c7;
    background-image: url("assets/arindam-mahanta-217437.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headMan > h1{
    margin: 0;
    letter-spacing: 6px;
    font-weight: 100;
}