.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: center;
}

.wrapMan{
      margin: 3% 15%; 
}

.attendeePanel{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; 
   flex-direction: column;
   min-width: 28%;
   padding: 0 7%;
}

.actionPanel{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; 
   flex-direction: column;
   min-width: 40%;
   padding: 0 7%;
}

.attendeeContainer{
   display: -webkit-flex;
   display: flex;
   justify-content: space-between;
   padding: 10px 10px;
   width: 230px;
}

.actionContainer{
   display: -webkit-flex;
   display: flex;
   justify-content: space-between;
}

.btn-del{
    color: red;
}

.adders{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 0;
}

md-card {
    margin-bottom: 10px;
}

md-card > img{
    margin: auto 0;
}