<div class="wrapMan">
    <h2>
      {{ mainMeeting.title}}
    </h2>
    
  <md-tab-group>
    <md-tab label={{agenda.name}} *ngFor="let agenda of mainMeeting.agendaItems">
      <div class="flex-container">
        <div class="attendeePanel">
          <h3>Attendees</h3>
          <div class="adders">
            <p-multiSelect [options]="results" [(ngModel)]="selectedItems" defaultLabel="Add People"></p-multiSelect>
            <button md-button type="button" (click)="addAttendees()">Add Attendees</button>
          </div>
          
          <md-card class="attendeeContainer" *ngFor="let attendee of mainMeeting.attendees">
            <button md-mini-fab><md-icon>{{attendee.initials }}</md-icon></button>
            <p>{{attendee.name}}</p> 
            <button md-button class="btn-del" type="button" (click)="removeAttendee(attendee)">X</button>
          </md-card>
        </div>

        <div class="actionPanel"> 
          <h3>Action points</h3>
          <div class="adders">
            <md-input-container>
              <input mdInput placeholder="Name of Action" #actionInput type="text" pInputText [(ngModel)]="actionName"/>
            </md-input-container>
            <button md-button type="button" (click)="addAction(actionInput.value)">Add Action</button>
          </div>

          <div *ngIf="theAgenda.action">
            <md-card class="actionContainer" *ngFor="let action of theAgenda.action.actions">
              <button md-mini-fab><md-icon>{{action.attendee.initials}}</md-icon></button>
              <p>{{action.name}}</p> 
              <p>{{action.status}}</p> 
              <p>{{action.deadline}}</p> 
            </md-card>
          </div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>

</div>

