<h2>
  {{ (meeting | async)?.meetingName}} - (Current Agenda item)
</h2>

<div class="flex-container">
  <div class="attendeePanel">
    <h5>Attendees</h5>

    <input #attendeeInput type="text" pInputText [(ngModel)]="attendeeName"/>

    <button type="button" (click)="addAttendee(attendeeInput.value)">Add Attendee</button>
    
    <div class="attendeeContainer" *ngFor="let attendee of attendees | async">
      <img src="http://via.placeholder.com/42x42" alt="" height="42px" width="42px" style="border-radius:50%;"> 
      <p>{{attendee.name | json}}</p> 
      <button class="btn-style" type="button" (click)="removeAttendee(attendeeInput.value)">x</button>
    </div>

  </div>

  <div class="actionPanel"> 
    <h5>Action points</h5>
    <input #actionInput type="text" pInputText [(ngModel)]="actionName"/>

    <button type="button" (click)="addAction(actionInput.value)">Add Action</button>

    <div class="actionContainer">
      <div *ngFor="let action of actionItems | async">{{action.name | json}}</div>
    </div>
  </div>

  <div *ngIf="(meeting | async)">
    <h3 *ngFor="let agenda of meeting.agendaItems">{{ agenda.agendaItemName }}</h3>
  </div>
</div>

